<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<style>
    #d1{
 width: 70%; 
 height: 100%;
  position: relative; 
  background: #EEEEEE;
}
#d2{
    left:450px; 
    top: 18px;
     position: absolute; 
     justify-content: flex-start; 
     align-items: center; 
     gap: 42px; 
     display: inline-flex;
 }
 #d3 
 {
    width: 107px; 
    height: 30px;
     color: black; 
     font-size: 24px; 
     font-family: Poppins;
      font-weight: 600; 
      word-wrap: break-word;
 }
#d4{
width: 102px; 
height: 30px; 
color: black; 
font-size: 24px; 
font-family: Poppins;
 font-weight: 600;
  word-wrap: break-word;
}
#d5{
    width: 102px;
     height: 30px; 
     color: black; 
     font-size: 24px;
      font-family: Poppins;
       font-weight: 600; 
       word-wrap: break-word;
}
#d6{
    width: 192px;
     height: 30px;
      color: black; 
      font-size: 24px; 
      font-family: Poppins; 
      font-weight: 600;
       word-wrap: break-word;
}
#d7{
    width: 107px;
     height: 32px;
      padding-top: 6px; 
      color:white; 
      font-size: 17px;
       font-family: Urbanist;
        font-weight: 900 ; 
        background: #756AB6;
         box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          border-radius: 15px;
           overflow: hidden;
            border: 1px white solid; 
            display: flex;
            align-items: center;
            justify-content: center;
}
#d8 {
    width: 144px;
     height: 40px;
      left: 47px; 
      top: 15px; 
       position: absolute; 
       color: black;
        font-size: 40px;
         font-family: Urbanist; 
         font-weight: 600;
          word-wrap: break-word;
}
#d9{
width: 1250px;
 height: 1146px;
 top: 92px; 
 position: absolute;
  background: #FFD4D4;
}
#d10{
    width: 1150px;
     height: 359px;
      left: 24px; 
      top: 41px;
       position: absolute; 
       color: black; 
       font-size: 96px;
        font-family: Urbanist;
         font-weight: 600;
          word-wrap: break-word;
}
#d11{
    width: 653.49px;
     height: 627px; 
     left: 2px; 
     top: 356px; 
     position: absolute;
}
#d12{
width: 636.96px;
 height: 494.11px; 
 left: 16.53px;
  top: 0px; 
  position: absolute;
   border-radius: 54px;
 } 
 #d13{
    width: 338.79px;
     height: 405.51px; 
     left: 0px; 
     top: 221.49px; 
     position: absolute;
      background: #FFD4D4;
       border-radius: 50px;
 }
#d14{
    width: 311.25px; 
    height: 256.60px; 
    left: 13.08px; 
    top: 237.51px;
     position: absolute; 
     background: #AC87C5; 
     border-radius: 50px; 
     overflow: hidden;
}
#d15{
width: 284px;
 height: 225px; 
 left: 73px; 
 top: 77px;
  position: absolute; 
  color: #FFE5E5; 
  font-size: 64px;
   font-family: Poppins; 
   font-weight: 600;
    word-wrap: break-word;
}
#d16{
width: 78.39px;
 height: 78.39px;
  left: 362.94px; 
  top: 35.56px; 
  position: absolute; 
  transform: rotate(40.95deg);
   transform-origin: 0 0;
}
#d17{
width: 49px;
 height: 66.94px; 
 left: 6.14px;
  top: 9.38px; 
  position: absolute;
   transform: rotate(1.91deg);
    transform-origin: 0 0;
     background: #FFE5E5; 
     box-shadow: 0px 4px 13.699999809265137px rgba(0, 0, 0, 0.49);
}


</style>

</head>
<body>
    <div id="d1" >
        <div id="d2">
            <div id="d3"><a href="about" style="text-decoration: none;color: black;">About us</a></div>
            <div id="d4"><a href="sere" style="text-decoration: none;color: black;">Services</a></div>
            <div id="d5"><a href="feedback" style="text-decoration: none;color: black;">Feedback</a></div>
            <div id="d6"><a href="recommendation" style="text-decoration: none;color: black;">Recomendation</a></div>
            <div id="d7">
                <span><a href="registration">Sign Up</a></span>
            </div>
        </div>
        <div id="d8">Zolabz</div>
        <div  id="d9">
            <div id="d10">Steer Your Career Growth </div>
            <div id="d11">
                <img id="d12" src="https://media.istockphoto.com/id/1352603244/photo/shot-of-an-unrecognizable-businessman-working-on-his-laptop-in-the-office.webp?b=1&s=170667a&w=0&k=20&c=cae8s_ncw2axGBVrD5vJR6DBqmVbQkKfAP1ecKUvQzQ=" />
                <div id="d13"></div>
                <div  id="d14">
                    <div id="d15">Get Started</div>
                    <div  id="d16">
                        <div id="d17"></div>
                    </div>
                </div>
            </div>
            <div style="width: 281px; height: 347px;  top: 400px; position: absolute"></div>
            <div style="width: 586px; height: 295px; left: 661px; top: 356px; position: absolute; background: #756AB6; border-radius: 50px; overflow: hidden">
                <div style="width: 252.16px; height: 305px; left: 672.35px; top: 248.42px; position: absolute; transform: rotate(63.81deg); transform-origin: 0 0; background: #E0AED0; box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25)"></div>
                <div style="width: 486px; height: 342px; left: 32px; top: 51px; position: absolute; color: rgba(255, 255, 255, 0.76); font-size: 30px; font-family: Poppins; font-weight: 500; word-wrap: break-word">Revolutionize your job search with our innovative platform! <br/>Upload your resume and the percentage according to the market and a list of curated jobs.</div>
            </div>
            <div style="height: 82px; padding-top: 53px; padding-bottom: 52px; padding-left: 61px; padding-right: 55px; left: 664px; top: 660px; position: absolute; background: #E0AED0; border-radius: 35px; overflow: hidden; justify-content: flex-end; align-items: center; display: inline-flex">
                <div style="width: 119px; height: 77px; color: white; font-size: 32px; font-family: Poppins; font-weight: 700; word-wrap: break-word">2500 +<br/>Hired</div>
            </div>
            <div style="padding-top: 45.79px; padding-bottom: 72.20px; padding-left: 65.07px; padding-right: 87.78px; left: 910px; top: 660px; position: absolute; background: #AC87C5; border-radius: 35px; overflow: hidden; justify-content: flex-start; align-items: center; display: inline-flex">
                <div style="width: 179px; height: 70px; transform: rotate(0.97deg); transform-origin: 0 0; color: white; font-size: 36px; font-family: Poppins; font-weight: 700; word-wrap: break-word">4000 + <br/>Companies</div>
            </div>
            <div style="width: 632px; height: 264px; left: 24px; top: 171px; position: absolute; justify-content: flex-end; align-items: center; display: inline-flex">
                <div style="width: 648px; height: 264px; color: #756AB6; font-size: 96px; font-family: Urbanist; font-weight: 600; word-wrap: break-word">Remotely</div>
            </div>
            <div style="width: 1000px; height: 1400px; left: -4px; top: 1073px; position: absolute; background: rgba(255, 212, 212, 0.08)"></div>
        </div>
         <div style="width: 1230px; height: 790px; left: 10px; top: 978px; position: absolute; background: #756AB6; box-shadow: 3px 4px 9.600000381469727px rgba(0, 0, 0, 0.57); border-radius: 30px">
            <div style="width: 981px; height: 73px; left: 130px; top: 54px; position: absolute; text-align: center; color: black; font-size: 48px; font-family: Poppins; font-weight: 500; word-wrap: break-word">Drop your resume, Elevate your career</div>
            <div style="width: 454px; height: 78px; left: 417px; top: 136px; position: absolute; color: black; font-size: 25px; font-family: Poppins; font-weight: 400; word-wrap: break-word">Calculate your job match percentage</div>
            <form method="post" action="{{ url_for('index') }}" enctype="multipart/form-data">
                 <div style="width: 480px; height: 557px; left: 417px; top: 210px; position: absolute; background: rgba(255, 255, 255, 0.25); box-shadow: 1px 1px 4px 3px #AC87C5; border-radius: 12px; overflow: hidden; backdrop-filter: blur(10px)">
                <div style="height: 42px; left: 40px; top: 438px; position: absolute; justify-content: flex-start; align-items: flex-end; display: inline-flex">
                    <div style="padding-left: 16px; padding-right: 16px; padding-top: 8px; padding-bottom: 8px; background: white; border-radius: 4px; justify-content: flex-start; align-items: center; gap: 8px; display: flex">
                        <div style="width: 24px; height: 24px; justify-content: center; align-items: center; display: flex">
                            <div style="width: 24px; height: 24px; position: relative">
                                <div style="width: 24px; height: 24px; left: 0px; top: 0px; position: absolute"></div>
                                <div style="width: 7.49px; height: 10.50px; left: 1.51px; top: 9px; position: absolute; border: 1.50px #270075 solid"></div>
                                <div style="width: 15px; height: 12px; left: 7.50px; top: 4.50px; position: absolute; border: 1.50px #270075 solid"></div>
                                <div style="width: 6.36px; height: 3.18px; left: 11.07px; top: 12px; position: absolute; border: 1.50px #270075 solid"></div>
                                <div style="width: 0px; height: 7.50px; left: 14.25px; top: 12px; position: absolute; border: 1.50px #270075 solid"></div>
                            </div>
                        </div> 
                      <div><input type="submit" name="but" style="color: #270075; font-size: 16px; font-family: Raleway; font-weight: 600; line-height: 24px; word-wrap: break-word" value="SEE RESULT"></div> 
                    </div>
                </div>
                <div style="left: 40px; top: 40px; position: absolute; justify-content: flex-start; align-items: center; gap: 10px; display: inline-flex">
                    <div style="width: 40px; height: 40px; justify-content: center; align-items: center; display: flex">
                        <div style="width: 40px; height: 40px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                            <div style="width: 33.33px; height: 33.33px; background: #E5E9F2; border-radius: 9999px"></div>
                            <div style="width: 33.33px; height: 33.33px; transform: rotate(-90deg); transform-origin: 0 0; background: #3C2075; border-radius: 9999px"></div>
                        </div>
                    </div>
                    <div style="color: white; font-size: 36px; font-family: Raleway; font-weight: 600; line-height: 40px; word-wrap: break-word">Upload Here</div>
                </div>
                <div style="width: 286px; left: 40px; top: 93px; position: absolute; color: white; font-size: 14px; font-family: Raleway; font-weight: 400; line-height: 21px; word-wrap: break-word">upload file and click on the button to see the progress</div>
                <div style="padding-left: 76px; padding-right: 76px; padding-top: 98px; padding-bottom: 98px; left: 40px; top: 172px; position: absolute; border-radius: 12px; border: 2px rgba(255, 255, 255, 0.09) dotted; justify-content: flex-start; align-items: flex-start; gap: 10px; display: inline-flex">
                    <div><div><input type="file" name="resume" id="resume"   style="color: white; font-size: 16px; font-family: Raleway; font-weight: 500; line-height: 24px; word-wrap: break-word" accept="application/pdf" required>click in the field to upload the file</div> 
                    <div> <input type="file" id="job_description" name="job_description" accept="application/pdf" required style="color: white; font-size: 16px; font-family: Raleway; font-weight: 500; line-height: 24px; word-wrap: break-word"></div>                    
                    </div>
                </div>
              
            </div>
           </form>

            </div>
        </div>
        <div style="width: 120px; height: 1000px; left: -144px; top: 1750px; position: absolute; background: rgba(254.56, 254.56, 254.56, 0.16)">
            <div style="width: 129px; height: 304px; left: 163px; top: 80px; position: absolute">
                <img style="width: 240px; height: 120px; left: 349px; top: 0px; position: absolute; border-radius: 15px" src="https://via.placeholder.com/257x144" />
                <div style="width: 369px; height: 105px; left: 0px; top: 17px; position: absolute; color: black; font-size: 86px; font-family: Urbanist; font-weight: 600; word-wrap: break-word">Top-Tier          </div>
                <div style="width: 170px; height: 102px; left: 620px; top: 14px; position: absolute"><span style="color: black; font-size: 86px; font-family: Urbanist; font-weight: 600; word-wrap: break-word;left:-80px">Job</span><span style="color: #756AB6; font-size: 96px; font-family: Urbanist; font-weight: 600; word-wrap: break-word"> </span></div>
                <div style="width: 587px; height: 115px; left: 0px; top: 159px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
                    <div style="color: #756AB6; font-size: 96px; font-family: Urbanist; font-weight: 600; word-wrap: break-word">Opportunities</div>
                </div>
            </div>
              <div style="width: 370px; height: 293px; left: 1000px; top: 54px; position: absolute; background: #AC87C5; border-radius: 50px; overflow: hidden">
                <div style="width: 284px; height: 193px; left: 88px; top: 99px; position: absolute; color: #FFE5E5; font-size: 44px; font-family: Poppins; font-weight: 600; word-wrap: break-word">Explore <br/>All Jobs</div>
                <div style="width: 78.39px; height: 78.39px; left: 375.38px; top: 32px; position: absolute; transform: rotate(40.95deg); transform-origin: 0 0">
                    <div style="width: 49px; height: 66.94px; left: 6.14px; top: 9.38px; position: absolute; transform: rotate(1.91deg); transform-origin: 0 0; background: #FFE5E5; box-shadow: 0px 4px 13.699999809265137px rgba(0, 0, 0, 0.49)"></div>
                </div> 
            </div>
            <div style="width: 390px; height: 418px; left: 162px; top: 435px; position: absolute; background: #FFE1E1; border-radius: 15px; overflow: hidden; border: 3px rgba(172, 135, 197, 0.53) solid">
                <div style="width: 264px; height: 31px; left: 144px; top: 33px; position: absolute; color: black; font-size: 20px; font-family: Poppins; font-weight: 600; word-wrap: break-word">Senior Software Engineer</div>
                <div style="width: 252px; height: 44px; left: 175px; top: 64px; position: absolute; color: rgba(0, 0, 0, 0.49); font-size: 12px; font-family: Poppins; font-weight: 400; word-wrap: break-word">Loom software solutions.Inc,<br/>Metrocites,Cityville USA</div>
                <div style="width: 198px; height: 69px; left: 33px; top: 35px; position: absolute">
                    <div style="width: 60.16px; height: 20.95px; left: 0px; top: 0px; position: absolute">
                        <div style="width: 2.43px; height: 15.33px; left: 23.05px; top: 2.81px; position: absolute; background: #222222"></div>
                        <div style="width: 13.76px; height: 10.70px; left: 46.40px; top: 7.45px; position: absolute; background: #222222"></div>
                        <div style="width: 9.45px; height: 11.03px; left: 26.28px; top: 7.41px; position: absolute; background: #222222"></div>
                        <div style="width: 9.44px; height: 11.03px; left: 36.22px; top: 7.41px; position: absolute; background: #222222"></div>
                        <div style="width: 18.16px; height: 20.95px; left: 0px; top: 0px; position: absolute; background: #625DF5"></div>
                    </div>

                    <div style="width: 24px; height: 24px; left: 108px; top: 38px; position: absolute">
                        <div style="width: 20px; height: 20px; left: 2px; top: 2px; position: absolute; background: #B89DC5"></div>
                    </div>
                </div>
                <div style="width: 385px; height: 0px; left: 36px; top: 122.49px; position: absolute; border: 1px #756AB6 solid"></div>
                <div style="width: 343px; left: 60px; top: 150px; position: absolute">
                    <div style="width: 97px; height: 16px; left: 0px; top: 0px; position: absolute; color: black; font-size: 15px; font-family: Poppins; font-weight: 600; word-wrap: break-word">Experience:</div>
                    <div style="width: 234px; height: 49px; left: 109px; top: 0px; position: absolute; color: black; font-size: 15px; font-family: Poppins; font-weight: 400; word-wrap: break-word">5+ Years of experience in Software Development</div>
                </div>
                <div style="width: 343px; left: 60px; top: 248px; position: absolute">
                    <div style="width: 97px; height: 16px; left: 0px; top: 0px; position: absolute; color: black; font-size: 15px; font-family: Poppins; font-weight: 600; word-wrap: break-word">Salary:</div>
                    <div style="width: 234px; height: 49px; left: 109px; top: 0px; position: absolute; color: black; font-size: 15px; font-family: Poppins; font-weight: 400; word-wrap: break-word">6-7 LPA</div>
                </div>

                <div style="width: 343px; left: 61px; top: 209px; position: absolute">
                    <div style="width: 97px; height: 8.16px; left: 0px; top: 0px; position: absolute; color: black; font-size: 15px; font-family: Poppins; font-weight: 600; word-wrap: break-word">Job Type :</div>
                    <div style="width: 234px; height: 25px; left: 109px; top: 0px; position: absolute; color: black; font-size: 15px; font-family: Poppins; font-weight: 400; word-wrap: break-word">Onsite</div>
                </div>
                <div style="width: 16px; height: 21px; left: 36px; top: 153px; position: absolute; background: #B38DC7"></div>
                <div style="width: 20.21px; height: 18.21px; left: 37px; top: 210px; position: absolute">
                    <div style="width: 7px; height: 8px; left: 0px; top: 8px; position: absolute; border: 1.50px #B38DC7 solid"></div>
                    <div style="width: 10.43px; height: 10.43px; left: 9.78px; top: 7.79px; position: absolute; border: 1.50px #B38DC7 solid"></div>
                    <div style="width: 13.64px; height: 14.09px; left: 3px; top: 0px; position: absolute; border: 1.50px #B38DC7 solid"></div>
                </div>
                <div style="width: 24px; height: 24px; left: 35px; top: 249px; position: absolute">
                    <div style="width: 20px; height: 14.50px; left: 2px; top: 5px; position: absolute">
                        <div style="width: 12.54px; height: 13px; left: 0px; top: 1.50px; position: absolute; border: 1.50px #B38DC7 solid"></div>
                        <div style="width: 14px; height: 10px; left: 6px; top: 0px; position: absolute; border: 1.50px #B38DC7 solid"></div>
                        <div style="width: 9.01px; height: 4px; left: 8.50px; top: 3px; position: absolute; border: 1.50px #B38DC7 solid"></div>
                    </div>
                </div>
                <div style="width: 157px; padding-top: 2px; left: 37px; top: 325px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
                    <div style="align-self: stretch; flex: 1 1 0; padding-left: 32px; padding-right: 32px; padding-top: 20px; padding-bottom: 20px; background: #B38DC7; box-shadow: 0px 5px 15px rgba(37, 44, 97, 0.15); border-radius: 4px; overflow: hidden; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
                        <div style="color: white; font-size: 14px; font-family: Lato; font-weight: 700; line-height: 14px; word-wrap: break-word">Get started</div>
                        <div style="width: 12px; height: 12px; padding-top: 1px; padding-bottom: 1px; justify-content: center; align-items: center; display: flex">
                            <div style="width: 10.26px; height: 10px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                                <div style="width: 10.26px; height: 10px; background: white"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="width: 390px; height: 418px; left: 576px; top: 435px; position: absolute; background: #FFE1E1; border-radius: 15px; overflow: hidden; border: 3px rgba(172, 135, 197, 0.53) solid">
                <div style="width: 264px; height: 31px; left: 144px; top: 33px; position: absolute; color: black; font-size: 20px; font-family: Poppins; font-weight: 600; word-wrap: break-word">Senior Software Engineer</div>
                <div style="width: 252px; height: 44px; left: 175px; top: 64px; position: absolute; color: rgba(0, 0, 0, 0.49); font-size: 12px; font-family: Poppins; font-weight: 400; word-wrap: break-word">Urban Heights solutions.Inc,<br/>Metrocites,Cityville USA</div>
                <div style="width: 198px; height: 69px; left: 33px; top: 35px; position: absolute">
                    <div style="width: 24px; height: 24px; left: 108px; top: 38px; position: absolute">
                        <div style="width: 20px; height: 20px; left: 2px; top: 2px; position: absolute; background: #B89DC5"></div>
                    </div>
                    <div style="width: 39px; height: 31px; left: 13px; top: 14px; position: absolute">
                        <div style="width: 38.86px; height: 27.97px; left: 0.14px; top: -0px; position: absolute; background: #0F2B46"></div>
                        <div style="width: 9.72px; height: 5.08px; left: 16.79px; top: 25.71px; position: absolute; background: #0F2B46"></div>
                        <div style="width: 1.83px; height: 1.50px; left: 26.06px; top: 25.19px; position: absolute; background: #142C46"></div>
                        <div style="width: 5.79px; height: 3.68px; left: 11.95px; top: 7.91px; position: absolute; background: white"></div>
                        <div style="width: 5.79px; height: 3.68px; left: 24.45px; top: 12.51px; position: absolute; background: white"></div>
                        <div style="width: 5.79px; height: 3.68px; left: 11.95px; top: 17.38px; position: absolute; background: white"></div>
                        <div style="width: 9.72px; height: 3.56px; left: 16.24px; top: 10.22px; position: absolute; background: white"></div>
                        <div style="width: 8.88px; height: 3.25px; left: 16.24px; top: 15.53px; position: absolute; background: white"></div>
                    </div>
                </div>

                <div style="width: 385px; height: 0px; left: 36px; top: 122.49px; position: absolute; border: 1px #756AB6 solid"></div>
            <div style="width: 343px; left: 60px; top: 150px; position: absolute">
                <div style="width: 97px; height: 16px; left: 0px; top: 0px; position: absolute; color: black; font-size: 15px; font-family: Poppins; font-weight: 600; word-wrap: break-word">Experience:</div>
                <div style="width: 234px; height: 49px; left: 109px; top: 0px; position: absolute; color: black; font-size: 15px; font-family: Poppins; font-weight: 400; word-wrap: break-word">1+ Years of experience in Software Development</div>
            </div>
            <div style="width: 343px; left: 60px; top: 248px; position: absolute">
                <div style="width: 97px; height: 16px; left: 0px; top: 0px; position: absolute; color: black; font-size: 15px; font-family: Poppins; font-weight: 600; word-wrap: break-word">Experience:</div>
                <div style="width: 234px; height: 49px; left: 109px; top: 0px; position: absolute; color: black; font-size: 15px; font-family: Poppins; font-weight: 400; word-wrap: break-word"> 10 LPA</div>
            </div>
            <div style="width: 343px; left: 61px; top: 209px; position: absolute">
                <div style="width: 97px; height: 8.16px; left: 0px; top: 0px; position: absolute; color: black; font-size: 15px; font-family: Poppins; font-weight: 600; word-wrap: break-word">Job Type :</div>
                <div style="width: 234px; height: 25px; left: 109px; top: 0px; position: absolute; color: black; font-size: 15px; font-family: Poppins; font-weight: 400; word-wrap: break-word">Remote</div>
            </div>
            <div style="width: 16px; height: 21px; left: 36px; top: 153px; position: absolute; background: #B38DC7"></div>
            <div style="width: 20.21px; height: 18.21px; left: 37px; top: 210px; position: absolute">
                <div style="width: 7px; height: 8px; left: 0px; top: 8px; position: absolute; border: 1.50px #B38DC7 solid"></div>
                <div style="width: 10.43px; height: 10.43px; left: 9.78px; top: 7.79px; position: absolute; border: 1.50px #B38DC7 solid"></div>
                <div style="width: 13.64px; height: 14.09px; left: 3px; top: 0px; position: absolute; border: 1.50px #B38DC7 solid"></div>
            </div>
            <div style="width: 24px; height: 24px; left: 35px; top: 249px; position: absolute">
                <div style="width: 20px; height: 14.50px; left: 2px; top: 5px; position: absolute">
                    <div style="width: 12.54px; height: 13px; left: 0px; top: 1.50px; position: absolute; border: 1.50px #B38DC7 solid"></div>
                    <div style="width: 14px; height: 10px; left: 6px; top: 0px; position: absolute; border: 1.50px #B38DC7 solid"></div>
                    <div style="width: 9.01px; height: 4px; left: 8.50px; top: 3px; position: absolute; border: 1.50px #B38DC7 solid"></div>
                </div>
            </div>
            <div style="width: 157px; padding-top: 2px; left: 37px; top: 325px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
                <div style="align-self: stretch; flex: 1 1 0; padding-left: 32px; padding-right: 32px; padding-top: 20px; padding-bottom: 20px; background: #B38DC7; box-shadow: 0px 5px 15px rgba(37, 44, 97, 0.15); border-radius: 4px; overflow: hidden; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
                    <div style="color: white; font-size: 14px; font-family: Lato; font-weight: 700; line-height: 14px; word-wrap: break-word">Get started</div>
                    <div style="width: 12px; height: 12px; padding-top: 1px; padding-bottom: 1px; justify-content: center; align-items: center; display: flex">
                        <div style="width: 10.26px; height: 10px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                            <div style="width: 10.26px; height: 10px; background: white"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div style="width: 390px; height: 418px; left: 990px; top: 435px; position: absolute; background: #FFE1E1; border-radius: 15px; overflow: hidden; border: 3px rgba(172, 135, 197, 0.53) solid">
            <div style="width: 264px; height: 31px; left: 144px; top: 33px; position: absolute; color: black; font-size: 20px; font-family: Poppins; font-weight: 600; word-wrap: break-word">Senior Software Engineer</div>
            <div style="width: 252px; height: 44px; left: 175px; top: 64px; position: absolute; color: rgba(0, 0, 0, 0.49); font-size: 12px; font-family: Poppins; font-weight: 400; word-wrap: break-word">Loom software solutions.Inc,<br/>Metrocites,Cityville USA</div>
            <div style="width: 198px; height: 69px; left: 33px; top: 35px; position: absolute">
                <div style="width: 60.16px; height: 20.95px; left: 0px; top: 0px; position: absolute">
                    <div style="width: 2.43px; height: 15.33px; left: 23.05px; top: 2.81px; position: absolute; background: #222222"></div>
                    <div style="width: 13.76px; height: 10.70px; left: 46.40px; top: 7.45px; position: absolute; background: #222222"></div>
                    <div style="width: 9.45px; height: 11.03px; left: 26.28px; top: 7.41px; position: absolute; background: #222222"></div>
                    <div style="width: 9.44px; height: 11.03px; left: 36.22px; top: 7.41px; position: absolute; background: #222222"></div>
                    <div style="width: 18.16px; height: 20.95px; left: 0px; top: 0px; position: absolute; background: #625DF5"></div>
                </div>
                <div style="width: 24px; height: 24px; left: 108px; top: 38px; position: absolute">
                    <div style="width: 20px; height: 20px; left: 2px; top: 2px; position: absolute; background: #B89DC5"></div>
                </div>
            </div>
            <div style="width: 385px; height: 0px; left: 36px; top: 122.49px; position: absolute; border: 1px #756AB6 solid"></div>
            <div style="width: 343px; left: 60px; top: 150px; position: absolute">
                <div style="width: 97px; height: 16px; left: 0px; top: 0px; position: absolute; color: black; font-size: 15px; font-family: Poppins; font-weight: 600; word-wrap: break-word">Experience:</div>
                <div style="width: 234px; height: 49px; left: 109px; top: 0px; position: absolute; color: black; font-size: 15px; font-family: Poppins; font-weight: 400; word-wrap: break-word">5+ Years of experience in Software Development</div>
            </div>
            <div style="width: 343px; left: 60px; top: 248px; position: absolute">
                <div style="width: 97px; height: 16px; left: 0px; top: 0px; position: absolute; color: black; font-size: 15px; font-family: Poppins; font-weight: 600; word-wrap: break-word">Experience:</div>
                <div style="width: 234px; height: 49px; left: 109px; top: 0px; position: absolute; color: black; font-size: 15px; font-family: Poppins; font-weight: 400; word-wrap: break-word">5+ Years of experience in Software Development</div>
            </div>
            <div style="width: 343px; left: 61px; top: 209px; position: absolute">
                <div style="width: 97px; height: 8.16px; left: 0px; top: 0px; position: absolute; color: black; font-size: 15px; font-family: Poppins; font-weight: 600; word-wrap: break-word">Job Type :</div>
                <div style="width: 234px; height: 25px; left: 109px; top: 0px; position: absolute; color: black; font-size: 15px; font-family: Poppins; font-weight: 400; word-wrap: break-word">Onsite</div>
            </div>
            <div style="width: 16px; height: 21px; left: 36px; top: 153px; position: absolute; background: #B38DC7"></div>
            <div style="width: 20.21px; height: 18.21px; left: 37px; top: 210px; position: absolute">
                <div style="width: 7px; height: 8px; left: 0px; top: 8px; position: absolute; border: 1.50px #B38DC7 solid"></div>
                <div style="width: 10.43px; height: 10.43px; left: 9.78px; top: 7.79px; position: absolute; border: 1.50px #B38DC7 solid"></div>
                <div style="width: 13.64px; height: 14.09px; left: 3px; top: 0px; position: absolute; border: 1.50px #B38DC7 solid"></div>
            </div>
            <div style="width: 24px; height: 24px; left: 35px; top: 249px; position: absolute">
                <div style="width: 20px; height: 14.50px; left: 2px; top: 5px; position: absolute">
                    <div style="width: 12.54px; height: 13px; left: 0px; top: 1.50px; position: absolute; border: 1.50px #B38DC7 solid"></div>
                    <div style="width: 14px; height: 10px; left: 6px; top: 0px; position: absolute; border: 1.50px #B38DC7 solid"></div>
                    <div style="width: 9.01px; height: 4px; left: 8.50px; top: 3px; position: absolute; border: 1.50px #B38DC7 solid"></div>
                </div>
            </div>
            <div style="width: 157px; padding-top: 2px; left: 37px; top: 325px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
                <div style="align-self: stretch; flex: 1 1 0; padding-left: 32px; padding-right: 32px; padding-top: 20px; padding-bottom: 20px; background: #B38DC7; box-shadow: 0px 5px 15px rgba(37, 44, 97, 0.15); border-radius: 4px; overflow: hidden; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
                    <div style="color: white; font-size: 14px; font-family: Lato; font-weight: 700; line-height: 14px; word-wrap: break-word">Get started</div>
                    <div style="width: 12px; height: 12px; padding-top: 1px; padding-bottom: 1px; justify-content: center; align-items: center; display: flex">
                        <div style="width: 10.26px; height: 10px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                            <div style="width: 10.26px; height: 10px; background: white"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            
        <div style="width: 390px; height: 406px; left: 160px; top: 930px; position: absolute; background: #FFE1E1; border-radius: 15px; overflow: hidden; border: 3px rgba(172, 135, 197, 0.53) solid">
            <div style="width: 264px; height: 31px; left: 144px; top: 33px; position: absolute; color: black; font-size: 20px; font-family: Poppins; font-weight: 600; word-wrap: break-word">Software Engineer</div>
            <div style="width: 244.82px; height: 42.74px; left: 170.01px; top: 62.16px; position: absolute; color: rgba(0, 0, 0, 0.49); font-size: 12px; font-family: Poppins; font-weight: 400; word-wrap: break-word">Deloitte solutions.Inc,<br/>Metrocites,Cityville USA</div>
            <div style="width: 385px; height: 0px; left: 36px; top: 122.49px; position: absolute; border: 1px #756AB6 solid"></div>
            <div style="width: 343px; left: 60px; top: 150px; position: absolute">
                <div style="width: 97px; height: 16px; left: 0px; top: 0px; position: absolute; color: black; font-size: 15px; font-family: Poppins; font-weight: 600; word-wrap: break-word">Experience:</div>
                <div style="width: 234px; height: 49px; left: 109px; top: 0px; position: absolute; color: black; font-size: 15px; font-family: Poppins; font-weight: 400; word-wrap: break-word">1+ Years of experience in Software Development</div>
            </div>
            <div style="width: 343px; left: 60px; top: 248px; position: absolute">
                <div style="width: 97px; height: 16px; left: 0px; top: 0px; position: absolute; color: black; font-size: 15px; font-family: Poppins; font-weight: 600; word-wrap: break-word">Experience:</div>
                <div style="width: 234px; height: 49px; left: 109px; top: 0px; position: absolute; color: black; font-size: 15px; font-family: Poppins; font-weight: 400; word-wrap: break-word">12 LPA</div>
            </div>
            <div style="width: 343px; left: 61px; top: 209px; position: absolute">
                <div style="width: 97px; height: 8.16px; left: 0px; top: 0px; position: absolute; color: black; font-size: 15px; font-family: Poppins; font-weight: 600; word-wrap: break-word">Job Type :</div>
                <div style="width: 234px; height: 25px; left: 109px; top: 0px; position: absolute; color: black; font-size: 15px; font-family: Poppins; font-weight: 400; word-wrap: break-word">Onsite</div>
            </div>
            <div style="width: 15.55px; height: 20.40px; left: 34.97px; top: 148.61px; position: absolute; background: #B38DC7"></div>
            <div style="width: 19.64px; height: 17.69px; left: 35.95px; top: 203.97px; position: absolute">
                <div style="width: 6.80px; height: 7.77px; left: 0px; top: 7.77px; position: absolute; border: 1.50px #B38DC7 solid"></div>
                <div style="width: 10.13px; height: 10.13px; left: 9.51px; top: 7.56px; position: absolute; border: 1.50px #B38DC7 solid"></div>
                <div style="width: 13.25px; height: 13.69px; left: 2.91px; top: 0px; position: absolute; border: 1.50px #B38DC7 solid"></div>
            </div>
            <div style="width: 24px; height: 24px; left: 35px; top: 249px; position: absolute">
                <div style="width: 20px; height: 14.50px; left: 2px; top: 5px; position: absolute">
                    <div style="width: 12.54px; height: 13px; left: 0px; top: 1.50px; position: absolute; border: 1.50px #B38DC7 solid"></div>
                    <div style="width: 14px; height: 10px; left: 6px; top: 0px; position: absolute; border: 1.50px #B38DC7 solid"></div>
                    <div style="width: 9.01px; height: 4px; left: 8.50px; top: 3px; position: absolute; border: 1.50px #B38DC7 solid"></div>
                </div>
</div>

<div style="width: 157px; padding-top: 2px; left: 37px; top: 325px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
    <div style="align-self: stretch; flex: 1 1 0; padding-left: 32px; padding-right: 32px; padding-top: 20px; padding-bottom: 20px; background: #B38DC7; box-shadow: 0px 5px 15px rgba(37, 44, 97, 0.15); border-radius: 4px; overflow: hidden; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
        <div style="color: white; font-size: 14px; font-family: Lato; font-weight: 700; line-height: 14px; word-wrap: break-word">Get started</div>
        <div style="width: 12px; height: 12px; padding-top: 1px; padding-bottom: 1px; justify-content: center; align-items: center; display: flex">
            <div style="width: 10.26px; height: 10px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                <div style="width: 10.26px; height: 10px; background: white"></div>
            </div>
        </div>
    </div>
</div>
<!-- need to add img --> <img style="width: 50px; height: 300px; left: 39px; top: -82px; position: absolute" src="https://via.placeholder.com/50x300" />
</div>
<div style="width: 390px; height: 406px; left: 575px; top: 930px; position: absolute; background: #FFE1E1; border-radius: 15px; overflow: hidden; border: 3px rgba(172, 135, 197, 0.53) solid">
<div style="width: 264px; height: 31px; left: 144px; top: 33px; position: absolute; color: black; font-size: 20px; font-family: Poppins; font-weight: 600; word-wrap: break-word">Junior Software Engineer</div>
<div style="width: 244.82px; height: 42.74px; left: 170.01px; top: 62.16px; position: absolute; color: rgba(0, 0, 0, 0.49); font-size: 12px; font-family: Poppins; font-weight: 400; word-wrap: break-word">Microsoft.Inc,<br/>Metrocites,Cityville USA</div>
<div style="width: 385px; height: 0px; left: 36px; top: 122.49px; position: absolute; border: 1px #756AB6 solid"></div>
<div style="width: 343px; left: 60px; top: 150px; position: absolute">
    <div style="width: 97px; height: 16px; left: 0px; top: 0px; position: absolute; color: black; font-size: 15px; font-family: Poppins; font-weight: 600; word-wrap: break-word">Experience:</div>
    <div style="width: 234px; height: 49px; left: 109px; top: 0px; position: absolute; color: black; font-size: 15px; font-family: Poppins; font-weight: 400; word-wrap: break-word">5+ Years of experience in Software Development</div>
</div>
<div style="width: 343px; left: 60px; top: 248px; position: absolute">
    <div style="width: 97px; height: 16px; left: 0px; top: 0px; position: absolute; color: black; font-size: 15px; font-family: Poppins; font-weight: 600; word-wrap: break-word">Experience:</div>
    <div style="width: 234px; height: 49px; left: 109px; top: 0px; position: absolute; color: black; font-size: 15px; font-family: Poppins; font-weight: 400; word-wrap: break-word">24 LPA</div>
</div>
<div style="width: 343px; left: 61px; top: 209px; position: absolute">
    <div style="width: 97px; height: 8.16px; left: 0px; top: 0px; position: absolute; color: black; font-size: 15px; font-family: Poppins; font-weight: 600; word-wrap: break-word">Job Type :</div>
    <div style="width: 234px; height: 25px; left: 109px; top: 0px; position: absolute; color: black; font-size: 15px; font-family: Poppins; font-weight: 400; word-wrap: break-word">Remote</div>
</div>
<div style="width: 15.55px; height: 20.40px; left: 34.97px; top: 148.61px; position: absolute; background: #B38DC7"></div>
<div style="width: 19.64px; height: 17.69px; left: 35.95px; top: 203.97px; position: absolute">
    <div style="width: 6.80px; height: 7.77px; left: 0px; top: 7.77px; position: absolute; border: 1.50px #B38DC7 solid"></div>
    <div style="width: 10.13px; height: 10.13px; left: 9.51px; top: 7.56px; position: absolute; border: 1.50px #B38DC7 solid"></div>
    <div style="width: 13.25px; height: 13.69px; left: 2.91px; top: 0px; position: absolute; border: 1.50px #B38DC7 solid"></div>
</div>
<div style="width: 24px; height: 24px; left: 35px; top: 249px; position: absolute">
    <div style="width: 20px; height: 14.50px; left: 2px; top: 5px; position: absolute">
        <div style="width: 12.54px; height: 13px; left: 0px; top: 1.50px; position: absolute; border: 1.50px #B38DC7 solid"></div>
        <div style="width: 14px; height: 10px; left: 6px; top: 0px; position: absolute; border: 1.50px #B38DC7 solid"></div>
        <div style="width: 9.01px; height: 4px; left: 8.50px; top: 3px; position: absolute; border: 1.50px #B38DC7 solid"></div>
    </div>
</div>
<div style="width: 157px; padding-top: 2px; left: 37px; top: 325px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
    <div style="align-self: stretch; flex: 1 1 0; padding-left: 32px; padding-right: 32px; padding-top: 20px; padding-bottom: 20px; background: #B38DC7; box-shadow: 0px 5px 15px rgba(37, 44, 97, 0.15); border-radius: 4px; overflow: hidden; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
        <div style="color: white; font-size: 14px; font-family: Lato; font-weight: 700; line-height: 14px; word-wrap: break-word">Get started</div>
        <div style="width: 12px; height: 12px; padding-top: 1px; padding-bottom: 1px; justify-content: center; align-items: center; display: flex">
            <div style="width: 10.26px; height: 10px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                <div style="width: 10.26px; height: 10px; background: white"></div>
            </div>
        </div>
    </div>
</div>
<div style="width: 38.79px; height: 43.49px; left: 47.60px; top: 47.59px; position: absolute">
    <div style="width: 7.97px; height: 32.16px; left: 0px; top: 5.66px; position: absolute; background: linear-gradient(0deg, #FFA600 0%, #FF5500 100%)"></div>
    <div style="width: 7.76px; height: 32.17px; left: 31.02px; top: 5.66px; position: absolute; background: linear-gradient(0deg, #FFA600 0%, #FFD500 100%)"></div>
    <div style="width: 7.76px; height: 18.83px; left: 15.51px; top: 24.66px; position: absolute; background: #FFA600"></div>
    <div style="width: 7.76px; height: 18.83px; left: 15.51px; top: 0px; position: absolute; background: #FF5500"></div>
</div>
</div>
<div style="width: 390px; height: 406px; left: 994px; top: 930px; position: absolute; background: #FFE1E1; border-radius: 15px; overflow: hidden; border: 3px rgba(172, 135, 197, 0.53) solid">
<div style="width: 264px; height: 31px; left: 144px; top: 33px; position: absolute; color: black; font-size: 20px; font-family: Poppins; font-weight: 600; word-wrap: break-word">Senior Software Engineer</div>
<div style="width: 244.82px; height: 42.74px; left: 170.01px; top: 62.16px; position: absolute; color: rgba(0, 0, 0, 0.49); font-size: 12px; font-family: Poppins; font-weight: 400; word-wrap: break-word">Hive software solutions.Inc,<br/>Metrocites,Cityville USA</div>
<div style="width: 198px; height: 69px; left: 33px; top: 43px; position: absolute">
    <div style="width: 24px; height: 24px; left: 108px; top: 38px; position: absolute">
        <div style="width: 20px; height: 20px; left: 2px; top: 2px; position: absolute; background: #B89DC5"></div>
    </div>
    <div style="width: 50px; height: 50px; left: 21px; top: 0px; position: absolute">
        <div style="width: 50px; height: 50px; left: 0px; top: 0px; position: absolute">
            <div style="width: 23.75px; height: 23.75px; left: 0px; top: 0px; position: absolute; background: #F25022"></div>
            <div style="width: 23.75px; height: 23.75px; left: 26.25px; top: 0px; position: absolute; background: #7FBA00"></div>
            <div style="width: 23.75px; height: 23.75px; left: 0px; top: 26.25px; position: absolute; background: #00A4EF"></div>
            <div style="width: 23.75px; height: 23.75px; left: 26.25px; top: 26.25px; position: absolute; background: #FFB900"></div>
        </div>
    </div>
</div>

<div style="width: 385px; height: 0px; left: 36px; top: 122.49px; position: absolute; border: 1px #756AB6 solid"></div>
            <div style="width: 343px; left: 60px; top: 150px; position: absolute">
                <div style="width: 97px; height: 16px; left: 0px; top: 0px; position: absolute; color: black; font-size: 15px; font-family: Poppins; font-weight: 600; word-wrap: break-word">Experience:</div>
                <div style="width: 234px; height: 49px; left: 109px; top: 0px; position: absolute; color: black; font-size: 15px; font-family: Poppins; font-weight: 400; word-wrap: break-word">5+ Years of experience in Software Development</div>
            </div>
            <div style="width: 343px; left: 60px; top: 248px; position: absolute">
                <div style="width: 97px; height: 16px; left: 0px; top: 0px; position: absolute; color: black; font-size: 15px; font-family: Poppins; font-weight: 600; word-wrap: break-word">Experience:</div>
                <div style="width: 234px; height: 49px; left: 109px; top: 0px; position: absolute; color: black; font-size: 15px; font-family: Poppins; font-weight: 400; word-wrap: break-word">10 LPA</div>
            </div>
            <div style="width: 343px; left: 61px; top: 209px; position: absolute">
                <div style="width: 97px; height: 8.16px; left: 0px; top: 0px; position: absolute; color: black; font-size: 15px; font-family: Poppins; font-weight: 600; word-wrap: break-word">Job Type :</div>
                <div style="width: 234px; height: 25px; left: 109px; top: 0px; position: absolute; color: black; font-size: 15px; font-family: Poppins; font-weight: 400; word-wrap: break-word">Remote</div>
            </div>
            <div style="width: 15.55px; height: 20.40px; left: 34.97px; top: 148.61px; position: absolute; background: #B38DC7"></div>
            <div style="width: 19.64px; height: 17.69px; left: 35.95px; top: 203.97px; position: absolute">
                <div style="width: 6.80px; height: 7.77px; left: 0px; top: 7.77px; position: absolute; border: 1.50px #B38DC7 solid"></div>
                <div style="width: 10.13px; height: 10.13px; left: 9.51px; top: 7.56px; position: absolute; border: 1.50px #B38DC7 solid"></div>
                <div style="width: 13.25px; height: 13.69px; left: 2.91px; top: 0px; position: absolute; border: 1.50px #B38DC7 solid"></div>
            </div>
            <div style="width: 24px; height: 24px; left: 35px; top: 249px; position: absolute">
                <div style="width: 20px; height: 14.50px; left: 2px; top: 5px; position: absolute">
                    <div style="width: 12.54px; height: 13px; left: 0px; top: 1.50px; position: absolute; border: 1.50px #B38DC7 solid"></div>
                    <div style="width: 14px; height: 10px; left: 6px; top: 0px; position: absolute; border: 1.50px #B38DC7 solid"></div>
                    <div style="width: 9.01px; height: 4px; left: 8.50px; top: 3px; position: absolute; border: 1.50px #B38DC7 solid"></div>
                </div>
            </div>

            <div style="width: 157px; padding-top: 2px; left: 37px; top: 325px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
                <div style="align-self: stretch; flex: 1 1 0; padding-left: 32px; padding-right: 32px; padding-top: 20px; padding-bottom: 20px; background: #B38DC7; box-shadow: 0px 5px 15px rgba(37, 44, 97, 0.15); border-radius: 4px; overflow: hidden; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
                    <div style="color: white; font-size: 14px; font-family: Lato; font-weight: 700; line-height: 14px; word-wrap: break-word">Get started</div>
                    <div style="width: 12px; height: 12px; padding-top: 1px; padding-bottom: 1px; justify-content: center; align-items: center; display: flex">
                        <div style="width: 10.26px; height: 10px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                            <div style="width: 10.26px; height: 10px; background: white"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div style="width: 150px; height: 44.78px; left: 1225px; top: 1033.61px; position: absolute"></div>


    <div style="width: 1401px; height: 870px; left: -3px; top: 1373px; position: absolute; background: #756AB6">
        <div style="width: 315px; height: 43px; left: 639px; top: 77px; position: absolute; color: #FFD4D4; font-size: 36px; font-family: Urbanist; font-weight: 600; word-wrap: break-word">How to apply Jobs</div>
        <div style="width: 1229px; height: 321px; left: 54px; top: 168px; position: absolute">
            <div style="width: 1209px; height: 242px; left: 135px; top: 0px; position: absolute; text-align: center; color: white; font-size: 80px; font-family: Urbanist; font-weight: 600; word-wrap: break-word">Take a look at our Job <br/>Application Process</div>
           <div style="width: 494.56px; height: 115px; left: 64.03px; top: 206px; position: absolute; justify-content: flex-end; align-items: center; display: inline-flex">
                <div style="color: #756AB6; font-size: 96px; font-family: Urbanist; font-weight: 600; word-wrap: break-word">Opportunities</div>
            </div>
        </div> 
         <div style="width: 370px; height: 406px; left: 160px; top: 409px; position: absolute; background: #FFE1E1; border-radius: 15px; overflow: hidden; border: 3px rgba(172, 135, 197, 0.53) solid">
            <div style="width: 350px; height: 90px; left: 12px; top: 111px; position: absolute; text-align: center; color: black; font-size: 38px; font-family: Urbanist; font-weight: 700; word-wrap: break-word">Drop your Resume</div>
            <div style="width: 300px; height: 76px; left: 28px; top: 250px; position: absolute; text-align: center; color: black; font-size: 15px; font-family: Poppins; font-weight: 400; word-wrap: break-word">Determine your resume-job match percentage instantly on our webpage using our advanced matching algorithm.</div>
            <div style="width: 96px; height: 59px; left: 132px; top: 26px; position: absolute; text-align: center; color: black; font-size: 48px; font-family: Urbanist; font-weight: 900; word-wrap: break-word">01</div>
        </div>
        <div style="width: 370px; height: 406px; left: 580px; top: 409px; position: absolute; background: #FFE1E1; border-radius: 15px; overflow: hidden; border: 3px rgba(172, 135, 197, 0.53) solid">
            <div style="width: 391px; height: 90px; left: -10px; top: 101px; position: absolute; text-align: center; color: black; font-size: 38px; font-family: Urbanist; font-weight: 700; word-wrap: break-word">Apply for your <br>relevant job</div>
            <div style="width: 334px; height: 76px; left: 21px; top: 250px; position: absolute; text-align: center; color: black; font-size: 15px; font-family: Poppins; font-weight: 400; word-wrap: break-word">Apply for your ideal job effortlessly by submitting your tailored resume through our user-friendly application portal.</div>
            <div style="width: 106px; height: 59px; left: 135px; top: 28px; position: absolute; text-align: center; color: black; font-size: 48px; font-family: Urbanist; font-weight: 900; word-wrap: break-word">02</div>
        </div>
        <div style="width: 370px; height: 406px; left: 1000px; top: 409px; position: absolute; background: #FFE1E1; border-radius: 15px; overflow: hidden; border: 3px rgba(172, 135, 197, 0.53) solid">
            <div style="width: 391px; height: 90px; left: 1px; top: 101px; position: absolute; text-align: center; color: black; font-size: 38px; font-family: Urbanist; font-weight: 700; word-wrap: break-word">Get a Roadmap to<br> enhance your skills</div>
            <div style="width: 334px; height: 76px; left: 25px; top: 253px; position: absolute; text-align: center; color: black; font-size: 15px; font-family: Poppins; font-weight: 400; word-wrap: break-word">Unlock your potential with our tailored skill enhancement roadmap designed to elevate your capabilities.</div>
            <div style="width: 106px; height: 59px; left: 145px; top: 20px; position: absolute; text-align: center; color: black; font-size: 48px; font-family: Urbanist; font-weight: 900; word-wrap: break-word">03</div>
        </div>
    </div>
</div> 