<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="{{ url_for('index') }}" enctype="multipart/form-data">
        <input type="file" id="resume" name="resume" accept="application/pdf" required><br><br>
        <input type="file" id="job_description" name="job_description" accept="application/pdf" required><br><br>
        <input type="submit" value="Submit">
    </form>
    <h1>{{pred}}</h1>
</body>
</html> -->